.container {
    background-color: #b44949;
    margin-top: 100px;
    width: 100%;
    max-width: 120em; /*ancho máximo para pantallas grandes*/ 
    padding: 32px;
}

.carrousel-container {
    width: 100%;
    height: 100%;    
    display: flex; /*cada caja una al lado de la otra*/
    flex-flow: row nowrap; /*row: van en fila horizontal, nowrap: no se permite que bajen de línea (se achican o se salen del contenedor) */
    justify-content: flex-start; /*flex-start: los alinea al inicio (izquierda).*/
    gap: 16px;
}

.carrousel-container img {
    background-color: #F8F7F7;
    width: calc(100% / 2);
    height: 10%; /*igual al alto que el contenedor padre*/
    object-fit: cover; /*Hace que el contenido mantenga su proporción y llene todo el espacio, recortando si es necesario.*/
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); /*da un efecto de que "flota"*/
}

.carrousel-container img:hover{
    background: radial-gradient(circle, #b44949, #ffffff);
}

.carrousel-container button {
    background-color: rgba(128, 0, 54, 0.8);
    border: none; /*sin borde*/
    color: white; /*color de la fuente*/
    font-size: 32px; /*tamaño de la fuente*/ 
    padding: 8px 16px; /*espacio entre el contenido del elemento y su borde. (1er:arriba y abajo, 2do:derecha e izq)*/
    border-radius: 10px;
    cursor: pointer; /*cuando el usuario pase el mouse sobre ese elemento, el cursor cambie a la forma de una mano*/
    transition: background 0.8s;
}
    
.carrousel-container button:hover {
    background-color: rgb(128, 0, 54);
}

.cursos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.curso {
    background: #F8F7F7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: calc(33.333% - 2rem);
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curso img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.btn-inscribirse {
    display: inline-block;
    margin-top: 1rem;
    background-color: rgb(128, 0, 54, 0.8);
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 8px;
    font-family: "Roboto Mono", monospace;
    transition: background 0.8s;
}

.btn-inscribirse:hover {
    background-color: rgb(128, 0, 54, 1);
}