
.descripcion-container {
    margin-top: 13vh;
    margin-left: 13vh;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    font-family: 'Segoe UI', sans-serif;
    width: 88%;
    background-color: azure;
    border-radius: 0rem 0rem 3rem 3rem;
    
}

.descripcion-container h1, h2 {
    color: #BE0049;
}

.text-container {
    padding: 1rem 1rem 2rem 1rem;
}

.parrafo p{
    font-weight: 600;
}

.text-container h3{
    color: #800036;
}

.fondo-descripcion {
    margin: 0;
    padding: 0;
    float: right;
    width: 40%;
    height: 48vh;
    border-radius: 0 0 0 10rem;
}

.content-container h1{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: #800036;
}

.content-container h2 {
    font-size: 1rem;
    
}

.content-container p {
    font-size: 0.8rem;
}













