
.descripcion-container {
    margin-top: 13vh;
    margin-left: 13vh;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    font-family: 'Segoe UI', sans-serif;
    width: 88%;
    background-color: azure;
    border-radius: 0rem 0rem 3rem 3rem;
    
}

.descripcion-container h1, h2 {
    color: #BE0049;
}

.text-container {
    padding: 1rem 1rem 2rem 1rem;
}

.parrafo p{
    font-weight: 600;
}

.text-container h3{
    color: #800036;
}

.fondo-descripcion {
    margin: 0;
    padding: 0;
    float: right;
    width: 40%;
    height: 48vh;
    border-radius: 0 0 0 10rem;
}

.content-container h1{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: #800036;
}

.content-container h2 {
    font-size: 1rem;
    
}

.content-container p {
    font-size: 0.8rem;
}

.carrousel-container {
    display: flex;
    width: 100%;
    height: 30rem;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    justify-content: center;
    background-color: azure;
}

.flecha-anterior {
   left: 4.2rem;
}

.flecha-siguiente {
    right: 4.2rem;
}

.flecha-anterior, .flecha-siguiente {
    width: 5%;
    height: 25rem;
    opacity: 0.5;
    position: absolute;
    background-color: #a0264a;
    border-style: none;
    border-radius: 0.6rem;
    color: white;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}



.carrousel-images {
    width: 78.9vw;
    position: relative;
    display: flex;
    overflow-x: hidden;
    
}

.carrousel-images img {
    width: 20vw;
    height: 25rem;
    border-radius: 1rem;
    
}

.carrousel-images .imagen-frente {
    z-index: 2;
    width: 40vw;
    height: 30rem;
    position: relative;
}

.carrousel-container button:hover{
    background-color: #36061a;
    cursor: pointer;
}



.imagen .imagen-frente{
    z-index: 2;
    width: 40vw;
    height: 30rem;
    position: relative;
    
}


.formulario {
    width: 97%;
    margin-top: 2rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form-contacto {
    padding: 2rem 2rem;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 10% 50% 10%;
    gap: 1.5rem;
    border-radius: 1.5rem;
    font-weight: 600;
    background-color: #E3DEE2;
}


.form-contacto input, textarea {
    box-sizing:content-box;
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border-style: none;
}

.mensaje-contacto {
    padding-top: 1rem;
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
}

.mensaje-contacto textarea {
    width: 100%;
    height: 100%;
}

.enviar-contacto {
    grid-column: 1 / span 2;
    grid-row: 4 / 4;  
    margin-bottom: 4rem; 
    font-weight: 600;
}

.enviar-contacto:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.form-contacto div input:focus, textarea:focus{
    outline: 0.1rem solid rgb(76, 170, 214) ;
}
