.descripcion-container {
    margin-top: 13vh;
    margin-left: 13vh;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-left: 20px;
    width: 80%;


}

.tarjetas-container {
    display:grid;
    grid-template-columns: repeat(4, 25%);
}

.tarjetas-container div{
    border-radius: 5px;
    border: 1px solid #800036;
    margin: 0 10px;
    padding: 10px;
    background-color: #F8F7F7;
}

.content-container h1{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: #800036;
}
.content-container h2 {
    font-size: 1rem;
    
}

.content-container p {
    font-size: 0.8rem;
}
.carrousel-container {
    margin-left: 15%;
}

.carrousel-container {
    display: flex;
    padding: 2rem;
}

.carrousel-container img {
    width: 30%;
    height: 20%;
}