.descripcion-container {
    margin-top: 13vh;
    margin-left: 13vh;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-left: 20px;
    width: 80%;


}

.tarjetas-container {
    display:grid;
    grid-template-columns: repeat(4, 25%);
}

.tarjetas-container div{
    border-radius: 5px;
    border: 1px solid #800036;
    margin: 0 10px;
    padding: 10px;
    background-color: #F8F7F7;
}

.content-container h1{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: #800036;
}
.content-container h2 {
    font-size: 1rem;
    
}

.content-container p {
    font-size: 0.8rem;
}

.carrousel-container {
    display: flex;
    width: 80%;
    height: 25rem;
    margin-top: 3rem;
    margin-left: 15rem;
    position: relative;
}

.flecha-anterior {
   left: -3rem;
}

.flecha-siguiente {
    right: 16rem;
}

.flecha-anterior, .flecha-siguiente {
    width: 5%;
    height: 25rem;
    opacity: 0.5;
    position: absolute;
}
.carrousel-images {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.carrousel-images img {
    width: 40%;
    height: 25rem;
    border-radius: 1rem;
    position: absolute;
}

#imagen-frente {
    z-index: 0;
    left: 0;
    
}

#segunda-imagen {
    z-index: -1;
    left: 10vw;
    
}

#tercera-imagen {
    z-index: -2;
    left: 15vw;
}

#cuarta-imagen {
    z-index: -3;
    left: 20vw;
    
}
#quinta-imagen {
    z-index: -4;
    left: 25vw;
   
}