.form-container {
    margin-top: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
}

.formulario {
    background-color: rgba(255, 255, 255, 0.5);
    position:relative;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 40%;
    padding: 3rem;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
}

.formulario input{
    height: 2rem;
    border-radius: 0.5rem;
    border-style: none;
}

.formulario label {
    font-weight: 600;
}

.formulario select {
    height: 2rem;
}

.boton-inscripcion {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
}

.btn-inscribirse{
    font-family: "Roboto Mono", monospace;
    text-decoration: none;
    color: white;
    font-size: 27px;   

    background-color: rgba(128, 0, 54, 0.8);
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    
    border-width: 3px;
    border-color:  #800036;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 10px;
    
    transition: background 0.5s;
}
.btn-inscribirse:hover {
    background-color: rgba(128, 0, 54, 1);
}