.form-container {
    width: 100%;
    height: auto;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 97%;
    margin-top: 2rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-inscripcion {
    padding: 2rem 2rem;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 15% 15% 15% 10%;
    gap: 2rem;
    border-radius: 1.5rem;
    font-weight: 600;
    background-color: #E3DEE2;
    box-shadow: 0 0.25rem 0.6rem rgba(0,0,0,0.3);
}

.form-inscripcion input, textarea {
    box-sizing: content-box;
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border-style: none;
}
.boton-inscripcion {
    grid-column: 1 / span 2;
    grid-row: 5 / 5;  
    margin-bottom: 5rem; 
    font-weight: 600;
}

 .enviar-formulario {
  width: 100%; 
  height: 2.5rem;
  background-color: #f0f0f0;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enviar-formulario:hover {
    background-color: rgba(128, 0, 54, 0.5);
    cursor: pointer;
}

.form-inscripcion div input:focus, textarea:focus{
  outline: 0.1rem solid rgb(76, 170, 214) ;
}

.form-inscripcion .input-error {
    border: 0.1rem solid red;
}

.mensaje-exito {
    text-align: center;
    color: green;
    background-color: #E3DEE2;
    border-radius: 1.5rem;
    padding: 2rem;
}

.form-inscripcion label {
    display: block;
    margin-bottom: 0.3rem;
} 

.form-inscripcion select {
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border-style: none;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  padding: 0.3rem;
}
